.react-dataTable {
  border-radius: 0;
  .rdt_TableHead {
    .rdt_TableHeadRow {
      background-color: #222fb9;
      border-top: 1px solid;
      border-color: #222fb9;
      min-height: 0;
      height: 38px;

      .rdt_TableCol {
        padding: 0.72rem 1.5rem;
        .rdt_TableCol_Sortable {
          color: #fff;
          font-weight: bold;
          font-style: 0.857rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            opacity: 1;
          }
          span {
            margin-left: 0.35rem;
          }
        }
        &:first-child {
          .form-check {
            transform: translateX(-10px);
          }
        }
      }
    }
  }

  .rdt_TableBody {
    .rdt_TableRow {
      color: #000;
      .rdt_TableCell {
        height: 53px;
        padding: 0.72rem 1.5rem;

        .column-action {
          svg {
            stroke: #000;
          }

          .dropdown-item:hover {
            svg {
              stroke: #000;
            }
          }

          .dropdown-item:active {
            svg {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  .react-paginate {
    &.separated-pagination {
      .page-item:first-child .page-link,
      .page-item:last-child .page-link {
        border-radius: 50%;
      }
    }
  }

  &.roles-table {
    .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol:first-child .form-check {
      transform: translateX(0);
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:first-child .form-check {
      transform: translateX(10px);
    }
  }

  &.react-dataTable-selectable-rows {
    .rdt_TableHead {
      .rdt_TableHeadRow {
        .rdt_TableCol:not(:first-child) {
          padding-left: 0.2rem;
        }
      }
    }
  }
}

.permission-header {
  @media (max-width: 740px) {
    .add-permission {
      margin-top: 1rem !important;
    }
  }
}

.rdt_Pagination {
  select {
    min-width: 30px;
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

.dataTable-filter {
  max-width: 220px;
}

.dataTable-select {
  width: 5rem;
  &:not([multiple='multiple']) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-position: calc(100% - 12px) 10px, calc(100% - 20px) 12px, 100% 0;
    background-size: 10px 10px, 10px 10px;
  }
}

.dark-layout {
  .app-user-list {
    header {
      background-color: #000;
    }
  }

  .react-dataTable {
    .hlidmt {
      background-color: #000;
    }
    .khKjDK {
      background-color: #000;
      color: #000;
    }

    .rdt_Table {
      background: #000;
      color: #000;

      & > div:first-child:not(.rdt_TableHead):not(.rdt_TableBody) {
        color: #000;
        background-color: #000;
      }
    }
    .rdt_TableHead {
      .rdt_TableHeadRow {
        background-color: #000;
        border-color: #000;
        .rdt_TableCol {
          color: #000;
          div[role='button'] {
            color: #000;
          }
        }
        .rdt_TableCol_Sortable {
          color: #000;

          svg {
            stroke: #000;
          }
        }
      }
    }
    .rdt_TableBody {
      .expandable-content {
        background-color: #000;
        color: #000;
      }
      .rdt_TableRow {
        background-color: #000;
        color: #000;
        border-color: #000;
        .rdt_TableCell {
          color: #000;
          .column-action {
            svg {
              stroke: #000;
            }
          }
        }
        button {
          &:hover:not(:disabled) {
            background-color: #000;
          }
          svg {
            color: #000;
          }
        }
        .permissions-actions {
          button:hover {
            background-color: transparent;
          }
        }
      }
    }
    .rdt_Pagination {
      color: #000;
      border-color: #000;
      background-color: #000;

      svg {
        fill: #000;
      }
    }
  }

  .rdt_Pagination {
    color: #000;
    background-color: #000;
    button {
      svg {
        fill: #000;
      }
      &[disabled] svg {
        fill: #000;
      }
    }
  }
}
