h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.categories-container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.categories-container a {
    padding: .5rem 1rem;
    background-color: #0047AB;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}

.categories-container a:hover {
    transform: translateY(-5px);
    filter: drop-shadow(5px 5px 5px rgb(184, 184, 184));
}

.categories-container .active {
    background-color: #002c69;
}