/* Margin Bottom Classes */
.mb-1 {
    margin-bottom: 5px;
  }
  
  .mb-2 {
    margin-bottom: 10px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .mb-4 {
    margin-bottom: 20px;
  }
  
  .mb-5 {
    margin-bottom: 25px;
  }
  
  .mb-6 {
    margin-bottom: 30px;
  }
  
  .mb-7 {
    margin-bottom: 35px;
  }
  
  .mb-8 {
    margin-bottom: 40px;
  }
  
  .mb-9 {
    margin-bottom: 45px;
  }
  
  .mb-10 {
    margin-bottom: 50px;
  }
  
  .mb-11 {
    margin-bottom: 55px;
  }
  
  .mb-12 {
    margin-bottom: 60px;
  }
  
  .mb-13 {
    margin-bottom: 65px;
  }
  
  .mb-14 {
    margin-bottom: 70px;
  }
  
  .mb-15 {
    margin-bottom: 75px;
  }
  
  .mb-16 {
    margin-bottom: 80px;
  }
  
  .mb-17 {
    margin-bottom: 85px;
  }
  
  .mb-18 {
    margin-bottom: 90px;
  }
  
  .mb-19 {
    margin-bottom: 95px;
  }
  
  .mb-20 {
    margin-bottom: 100px;
  }
  
  /* ... Continue this pattern up to .mb-50 */
/* Margin Top Classes */
.mt-1 {
    margin-top: 5px;
  }
  
  .mt-2 {
    margin-top: 10px;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  .mt-4 {
    margin-top: 20px;
  }
  
  .mt-5 {
    margin-top: 25px;
  }
  
  .mt-6 {
    margin-top: 30px;
  }
  
  .mt-7 {
    margin-top: 35px;
  }
  
  .mt-8 {
    margin-top: 40px;
  }
  
  .mt-9 {
    margin-top: 45px;
  }
  
  .mt-10 {
    margin-top: 50px;
  }
  
  .mt-11 {
    margin-top: 55px;
  }
  
  .mt-12 {
    margin-top: 60px;
  }
  
  .mt-13 {
    margin-top: 65px;
  }
  
  .mt-14 {
    margin-top: 70px;
  }
  
  .mt-15 {
    margin-top: 75px;
  }
  
  .mt-16 {
    margin-top: 80px;
  }
  
  .mt-17 {
    margin-top: 85px;
  }
  
  .mt-18 {
    margin-top: 90px;
  }
  
  .mt-19 {
    margin-top: 95px;
  }
  
  .mt-20 {
    margin-top: 100px;
  }
  
  /* ... Continue this pattern up to .mt-50 */
/* Margin Left Classes */
.ml-1 {
    margin-left: 5px;
  }
  
  .ml-2 {
    margin-left: 10px;
  }
  
  .ml-3 {
    margin-left: 15px;
  }
  
  .ml-4 {
    margin-left: 20px;
  }
  
  .ml-5 {
    margin-left: 25px;
  }
  
  .ml-6 {
    margin-left: 30px;
  }
  
  .ml-7 {
    margin-left: 35px;
  }
  
  .ml-8 {
    margin-left: 40px;
  }
  
  .ml-9 {
    margin-left: 45px;
  }
  
  .ml-10 {
    margin-left: 50px;
  }
  
  .ml-11 {
    margin-left: 55px;
  }
  
  .ml-12 {
    margin-left: 60px;
  }
  
  .ml-13 {
    margin-left: 65px;
  }
  
  .ml-14 {
    margin-left: 70px;
  }
  
  .ml-15 {
    margin-left: 75px;
  }
  
  .ml-16 {
    margin-left: 80px;
  }
  
  .ml-17 {
    margin-left: 85px;
  }
  
  .ml-18 {
    margin-left: 90px;
  }
  
  .ml-19 {
    margin-left: 95px;
  }
  
  .ml-20 {
    margin-left: 100px;
  }
  
  /* ... Continue this pattern up to .ml-50 */
/* Margin Right Classes */
.mr-1 {
    margin-right: 5px;
  }
  
  .mr-2 {
    margin-right: 10px;
  }
  
  .mr-3 {
    margin-right: 15px;
  }
  
  .mr-4 {
    margin-right: 20px;
  }
  
  .mr-5 {
    margin-right: 25px;
  }
  
  .mr-6 {
    margin-right: 30px;
  }
  
  .mr-7 {
    margin-right: 35px;
  }
  
  .mr-8 {
    margin-right: 40px;
  }
  
  .mr-9 {
    margin-right: 45px;
  }
  
  .mr-10 {
    margin-right: 50px;
  }
  
  .mr-11 {
    margin-right: 55px;
  }
  
  .mr-12 {
    margin-right: 60px;
  }
  
  .mr-13 {
    margin-right: 65px;
  }
  
  .mr-14 {
    margin-right: 70px;
  }
  
  .mr-15 {
    margin-right: 75px;
  }
  
  .mr-16 {
    margin-right: 80px;
  }
  
  .mr-17 {
    margin-right: 85px;
  }
  
  .mr-18 {
    margin-right: 90px;
  }
  
  .mr-19 {
    margin-right: 95px;
  }
  
  .mr-20 {
    margin-right: 100px;
  }
  
  /* ... Continue this pattern up to .mr-50 */
        